{% extends "partners/base.html" %}


{% block custom_css %}
<style>

.wizard-steps {
    display: block;
    bottom: 10px;
}

.wizard-steps .clickable {
    cursor: pointer;
    margin-bottom: 20px;
}

.wizard-steps .wizard-step:before {
    content: "+";
    bottom: 10px;
}

.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  background-color: blue;
  display:inline-block;
  vertical-align:center;
}

</style>
{% endblock custom_css %}

{% block title %}
    My Resume Wizard
{% endblock title %}


{% block page_title %}
    My Resume Wizard
{% endblock page_title %}

{% block page_content %}
    <div class="row">
        <div class="col-12 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                        <li class="media">
                            <p class="lead mr-5">Resume Progress</p>
                            <div id="media-progressbar" class="media-progressbar">
                                <div class="progress-text">{{ progress_mark }}%</div>
                                <div class="progress" data-height="6">
                                    <div class="progress-bar bg-primary" data-width="{{ progress_mark }}%"></div>
                                </div>
                            </div>
            
                        </li>
                    </ul>

                    <div class="list-group">

                        {% if partner_professional_summary %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="lead mb-0">Professional Summary</h6>
                                <small class="text-muted">Added {{ partner_professional_summary.get_days_ago }} days ago</small>
                            </div>
                            
                            <div>{{ partner_professional_summary.summary|safe }}</div>
                           
                            <div id="editable-prosum" class="d-flex w-100 justify-content-between">
                                <p></p>
                                <a href="#" style="display:none;"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                        </div>
                        {% endif %}

                        {% if partner_education|length > 0 %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start education">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="lead mb-2">Education</h6>
                                <small class="text-muted">Added {% with partner_education|first as first %}{{ first.get_days_ago }}{% endwith %} days ago</small>
                            </div>
                            {% for e in partner_education %}
                            <div id="editable-education">
                                
                                <p class="mb-0 text-dark" style="line-height: 18px;"><strong>{{ e.field_name }} | {{ e.school_name }}</strong> <a id="atag" href="#" style="display:none;"><i class="fas fa-pencil-alt"></i></a></p>
                                <p class="mb-0" style="line-height: 18px;">{{ e.get_degree_type_display }}</p>
                                <p class="mb-0" style="line-height: 18px;">{{ e.school_address }}</p>
                                <p class="mb-3" style="line-height: 18px;">{{ e.date_graduated }}</p>
                            </div>
                            {% endfor %}
                            
                        </div>
                        {% endif %}

                        {% if partner_licenses|length > 0 %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="lead mb-2">Licenses</h6>
                                <small class="text-muted">Added {% with partner_licenses|first as first %}{{ first.get_days_ago }}{% endwith %} days ago</small>
                            </div>
                            {% for l in partner_licenses %}
                            <p class="mb-0 text-dark" style="line-height: 18px;"><strong>{{ l.license_name }}</strong></p>
                            <p class="mb-0" style="line-height: 18px;">{{ l.license_code }}</p>
                            <p class="mb-0" style="line-height: 18px;">Acquired in {{ l.address_acquired }}</p>
                            <p class="mb-3" style="line-height: 18px;">This is valid until <span class="text-danger">{{ l.expiration_date }}</span></p>
                            {% endfor %}
                            <div class="d-flex w-100 justify-content-between">
                                <p></p>
                                <a href="#" class="btn btn-icon btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            </div>
                        </div>
                        {% endif %}

                        {% if partner_certifications|length > 0 %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="lead mb-2">Certifications</h6>
                                <small class="text-muted">Added {% with partner_certifications|first as first %}{{ first.get_days_ago }}{% endwith %} days ago</small>
                            </div>
                            {% for c in partner_certifications %}
                            <p class="mb-0 text-dark" style="line-height: 18px;"><strong>{{ c.cert_name }}</strong></p>
                            <p class="mb-0" style="line-height: 18px;">{{ c.cert_code }}</p>
                            <p class="mb-0" style="line-height: 18px;">Acquired in {{ c.address_acquired }}</p>
                            <p class="mb-3" style="line-height: 18px;">This is valid until <span class="text-danger">{{ c.expiration_date }}</span></p>

                            {% endfor %}
                            <div class="d-flex w-100 justify-content-between">
                                <p></p>
                                <a href="#" class="btn btn-icon btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            </div>
                        </div>
                        {% endif %}

                        {% if partner_skills|length > 0 %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="lead mb-2">Skills</h6>
                            <small class="text-muted">Added {% with partner_skills|first as first %}{{ first.get_days_ago }}{% endwith %} days ago</small>
                            </div>
                            <div class="badges">
                                {% for s in partner_skills %}
                                <span class="badge badge-primary">{{ s.skill_name }}</span>
                                {% endfor %}
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p></p>
                                <a href="#" class="btn btn-icon btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            </div>
                        </div>
                        {% endif %}

                        {% if partner_works|length > 0 %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="lead mb-2">Work History</h6>
                            <small class="text-muted">Added {% with partner_works|first as first %}{{ first.get_days_ago }}{% endwith %} days ago</small>
                            </div>

                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>Information</th>
                                                <th>Responsibilities</th>
                                            </tr>
                                            {% for w in partner_works %}
                                            <tr>
                                                <td class="">
                                                    <br>
                                                    <p class="mb-1 text-dark" style="line-height: 18px;"><strong>{{ w.designation }}</strong></p>
                                                    <p class="mb-0" style="line-height: 18px;">{{ w.phone_number }}</p>
                                                    <p class="mb-0" style="line-height: 18px;">{{ w.email }}</p>
                                                    <p class="mb-0" style="line-height: 18px;">{{ w.office_name }}</p>
                                                    <p class="mb-0" style="line-height: 18px;">{{ w.office_address }}</p>
                                                    <p class="mb-0" style="line-height: 18px;">{{ w.start_date }} - {{ w.end_date }}</p>
                                                    <br>
                                                </td>
                                                <td class="">
                                                    <br>
                                                    <p class="mb-0" style="line-height: 18px;">{{ w.responsibilities|safe }}</p>
                                                    <br>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p></p>
                                <a href="#" class="btn btn-icon btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            </div>
                        </div>
                        {% endif %}

                        {% if partner_references|length > 0 %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="lead mb-2">References</h6>
                            <small class="text-muted">Added {% with partner_references|first as first %}{{ first.get_days_ago }}{% endwith %} days ago</small>
                            </div>

                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>Personnel</th>
                                                <th>Contact</th>
                                                <th>Office</th>
                                            </tr>
                                            {% for r in partner_references %}
                                            <tr>
                                                <td>
                                                    <p class="mb-0 text-dark" style="line-height: 18px;"><strong>{{ r.name }}</strong></p>
                                                    <p class="mb-0" style="line-height: 18px;">{{ r.position }}</p>
                                                </td>
                                                <td>
                                                    <p class="mb-0 text-muted" style="line-height: 18px;">{{ r.phone_number }}</p>
                                                    <p class="mb-0 text-muted" style="line-height: 18px;">{{ r.email }}</p>
                                                </td>
                                                <td>
                                                    <br>
                                                    <p class="mb-0 text-muted" style="line-height: 18px;">{{ r.office_name }}</p>
                                                    <p class="mb-0 text-muted" style="line-height: 18px;">{{ r.office_address }}</p>
                                                    <p class="mb-0 text-muted" style="line-height: 18px;">{{ r.start_date }} - {{ r.end_date }}</p>
                                                    <br>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p></p>
                                <a href="#" class="btn btn-icon btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            </div>
                        </div>
                        {% endif %}

                        {% if partner_cover %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="lead mb-0">Letter to Patients</h6>
                                <small class="text-muted">Added {{ partner_cover.get_days_ago }} days ago</small>
                            </div>
                            <div mb-0">{{ partner_cover.letter|safe }}</div>
                            <div class="d-flex w-100 justify-content-between">
                                <p></p>
                                <a href="#" class="btn btn-icon btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">

                    <div class="wizard-steps">
                        <div class="wizard-step clickable wizard-step-warning">
                            <div class="wizard-step-icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="wizard-step-label">
                                Setup Profile
                            </div>
                        </div>

                        <div id="add_professional_summary" class="wizard-step clickable {% if partner_professional_summary %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_professional_summary %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-user-tie"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                Professional Summary
                            </div>
                        </div>

                        <div id="add_education" class="wizard-step clickable {% if partner_education|length > 0 %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_education|length > 0 %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-graduation-cap"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                My Education
                            </div>
                        </div>

                        <div id="add_licenses" class="wizard-step clickable {% if partner_licenses|length > 0 %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_licenses|length > 0 %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="far fa-id-badge"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                My Licenses
                            </div>
                        </div>

                        <div id="add_certifications" class="wizard-step clickable {% if partner_certifications|length > 0 %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_certifications|length > 0 %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-certificate"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                My Certifications
                            </div>
                        </div>

                        <div id="add_skills" class="wizard-step clickable {% if partner_skills|length > 0 %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_skills|length > 0 %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-user-astronaut"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                My Skills
                            </div>
                        </div>

                        <div id="add_references" class="wizard-step clickable {% if partner_references|length > 0 %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_references|length > 0 %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-users"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                My References
                            </div>
                        </div>

                        <div id="add_work_experiences" class="wizard-step clickable {% if partner_works|length > 0 %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_works|length > 0 %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-user-md"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                My Work History
                            </div>
                        </div>

                        <div id="add_cover_letter" class="wizard-step clickable {% if partner_cover %}wizard-step-active{% endif %}">
                            <div class="wizard-step-icon">
                                {% if partner_cover %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-envelope-open-text"></i>
                                {% endif %}
                            </div>
                            <div class="wizard-step-label">
                                Letter to Patients
                            </div>
                        </div>   

                        <div id="add_media_documents" class="wizard-step clickable wizard-step-warning">
                            <div class="wizard-step-icon">
                                <i class="fas fa-file-pdf"></i>
                            </div>
                            <div class="wizard-step-label">
                                My Documents
                            </div>
                        </div>
                               
                    </div>     
                </div>
            </div>

            
        </div>
    </div>
{% endblock page_content %}


{% block custom_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    /*
        add_education
    */
    const addEducation = document.getElementById('add_education')
    addEducation.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_education_view' %}";
    })

    /*
        add_licenses
    */
    const addLicenses = document.getElementById('add_licenses')
    addLicenses.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_licenses_view' %}";
    })

    /*
        add_certifications
    */
    const addCertifications = document.getElementById('add_certifications')
    addCertifications.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_certifications_view' %}";
    })

    /*
        add_skills
    */
    const addSkills = document.getElementById('add_skills')
    addSkills.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_skills_view' %}";
    })

    /*
        add_references
    */
    const addReferences = document.getElementById('add_references')
    addReferences.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_references_view' %}";
    })

    /*
        add_work_experiences
    */
    const addWorkExperiences = document.getElementById('add_work_experiences')
    addWorkExperiences.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_work_experiences_view' %}";
    })

    /*
        add_professional_summary
    */
    const addProfessionalSummary = document.getElementById('add_professional_summary')
    addProfessionalSummary.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_professional_summary_view' %}";
    })

    /*
        add_cover_letter
    */
    const addCoverLetter = document.getElementById('add_cover_letter')
    addCoverLetter.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_cover_letter_view' %}";
    })
    
    /*
        add_media_documents
    */
    const addMediaDocuments = document.getElementById('add_media_documents')
    addMediaDocuments.addEventListener('click', ()=> {
        window.location.href = "{% url 'partners:partner_media_upload_view' %}";
    })

    $('.list-group').on('mouseenter', 'div[class="list-group-item list-group-item-action flex-column align-items-start"]', function(e){
        $("#editable-prosum > a").show();
    })

    $('.list-group').on('mouseleave', 'div[class="list-group-item list-group-item-action flex-column align-items-start"]', function(e){
        $("#editable-prosum > a").hide();
    })
    
</script>
{% endblock custom_js %}