{% extends "crm/base.html" %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'crm/js/datepicker/datepicker.css' %}"/>
<link rel="stylesheet" href="//bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>

<style>
hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 50%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.preview_image {
  width: 250px;
  height: 250px;
  border-radius: 2%;
  float: left;
  overflow: hidden;
  display:inline-block;
  vertical-align:center;
}

.bootstrap-tagsinput{
    width: 100%;
}

.circular_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  background-color: blue;
  display:inline-block;
  vertical-align:center;
}

</style>
{% endblock custom_css %}

{% block title %}
    Create Resume
{% endblock title %}


{% block page_title %}
    Create Resume
{% endblock page_title %}

{% block page_content %}
    
    <div class="section-body">
        <form id="resumeForm" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-6 col-sm-12">

                    <div class="card">
                    <div class="card-header">
                        <h4>Profile</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                            <li class="media">
                                <div class="circular_image">
                                    <img alt="image" class="mr-5 rounded-circle" width="100%" src="/media/{{ partner_user.profile_pic }}">
                                </div>
                                <div class="media-body ml-3">
                                    <div class="media-right"><div class="text-primary">Active</div></div>
                                    <div class="media-title mb-1">{{ partner_user.auth_user_id.first_name }} {{ partner_user.auth_user_id.last_name }}</div>
                                    <div class="text-time">@{{ partner_user.auth_user_id.username }}</div>
                                    <div class="media-description text-muted">
                                        {{ partner_user.phone_number }}<br>
                                        {{ partner_user.date_of_birth|date:'m-d-Y' }} <br>
                                        {% if partner_user.address_line_1 %}
                                            {{ partner_user.address_line_1 }}
                                        {% endif %}
                                        {% if partner_user.address_line_2 %}
                                            , {{ partner_user.address_line_2 }}
                                        {% endif %}
                                        {% if partner_user.address_town %}
                                            , {{ partner_user.address_town }}
                                        {% endif %}
                                        {% if partner_user.address_region %}
                                            , {{ partner_user.address_region }}
                                        {% endif %}
                                        {% if partner_user.address_country %}
                                            , {{ partner_user.address_country }}
                                        {% endif %}
                                        {% if partner_user.address_zip_code %}
                                             {{ partner_user.address_zip_code }}
                                        {% endif %}
                                    </div>
                                    <div class="media-links">
                                        <a href="{% url 'crm:admin_partner_list_view' %}">Go to list</a>
                                        <div class="bullet"></div>
                                        <a href="{% url 'crm:admin_partner_update_view' partner_user.auth_user_id.id %}">Edit</a>
                                        <div class="bullet"></div>
                                        <a href="#" class="text-danger">Deactivate</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>


                    <div class="card">
                        <div class="card-header">
                            <h4>Cover Letter</h4>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">
                                <textarea class="form-control" name="cover_letter" id="cover_letter"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Resume Data Forms</h4>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="true">Education</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="licenses-tab" data-toggle="tab" href="#licences" role="tab" aria-controls="licenses" aria-selected="false">Licenses</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="certifications-tab" data-toggle="tab" href="#certifications" role="tab" aria-controls="contact" aria-selected="false">Certifications</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="references-tab" data-toggle="tab" href="#references" role="tab" aria-controls="contact" aria-selected="false">References</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="contact" aria-selected="false">Skills</a>
                                </li>

                            </ul>
                            <div class="tab-content tab-bordered" id="resume_tab">

                                <div class="tab-pane fade active show" id="education" role="tabpanel" aria-labelledby="education-tab">

                                    <!-- Education -------------------------------->
                                    <div class="educ_div">

                                        <div class="row educ_div_row first_educ">


                                            <div class="col-lg-12">
                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Degree</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <select class="form-control degree" name="degree[]">
                                                            <option value=1>High School</option>
                                                            <option value=2>Associate</option>
                                                            <option value=3 selected>Bachelor</option>
                                                            <option value=4>Master</option>
                                                            <option value=5>Doctorate</option>
                                                            <option value=6>Unspecified</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">School</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="school[]" class="form-control school">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Field</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="field[]" class="form-control field">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Graduated</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="graduated[]" class="form-control graduated" id="graduated" placeholder="YYYY-MM-DD">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Address</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <textarea class="form-control school_address" name="school_address[]"></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <hr/>

                                        </div>
                                    </div>

                                    

                                    <div class="btn float-right mt-5">

                                        <a href="#remove_educ" class="btn btn-warning remove_educ" id="remove_educ">Remove</a>
                                        <a href="#add_educ" class="btn btn-primary add_educ" id="add_educ">Add More</a>

                                    </div>

                                    <!-- endEducation -------------------------------->


                                </div>

                                <div class="tab-pane fade" id="licences" role="tabpanel" aria-labelledby="licenses-tab">
                                    <!-- Licenses -------------------------------->
                                    <div class="licenses_div">

                                        <div class="row licenses_div_row first_licenses">


                                            <div class="col-lg-12">
                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Name</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="license_name[]" class="form-control license_name">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Code</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="license_code[]" class="form-control license_code">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Expiration Date</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="license_expiration_date[]" class="form-control license_expiration_date" id="license_expiration_date" placeholder="YYYY-MM-DD">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Address</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <textarea class="form-control license_address" name="license_address[]"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Is license compact?</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="license_is_compact[]" class="form-control">
                                                        <small class="form-text text-muted">Hint: Please enter YES or NO</small>
                                                    </div>
                                                </div>                                       
                                                

                                                
                                            </div>
                                            <hr/>

                                        </div>
                                    </div>

                                    

                                    <div class="btn float-right mt-4">

                                        <a href="#remove_licenses" class="btn btn-warning remove_licenses" id="remove_licenses">Remove</a>
                                        <a href="#add_licenses" class="btn btn-primary add_licenses" id="add_licenses">Add More</a>

                                    </div>

                                    <!-- endLicenses -------------------------------->
                                
                                </div>
                                <div class="tab-pane fade" id="certifications" role="tabpanel" aria-labelledby="certifications-tab">
                                    <!-- Certifications -------------------------------->
                                    <div class="certifications_div">

                                        <div class="row certifications_div_row first_certifications">


                                            <div class="col-lg-12">
                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Name</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="certification_name[]" class="form-control certification_name">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Code</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="certification_code[]" class="form-control certification_code">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Expiration Date</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="certification_expiration_date[]" class="form-control certification_expiration_date" placeholder="YYYY-MM-DD">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Address</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <textarea class="form-control certification_address" name="certification_address[]"></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <hr/>

                                        </div>
                                    </div>

                                    

                                    <div class="btn float-right mt-4">

                                        <a href="#remove_certifications" class="btn btn-warning remove_certifications" id="remove_certifications">Remove</a>
                                        <a href="#add_certifications" class="btn btn-primary add_certifications" id="add_certifications">Add More</a>

                                    </div>

                                    <!-- endCertifications -------------------------------->
                                </div>


                                <div class="tab-pane fade" id="references" role="tabpanel" aria-labelledby="references-tab">
                                    <!-- References -------------------------------->
                                    <div class="references_div">

                                        <div class="row references_div_row first_references">


                                            <div class="col-lg-12">
                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Name</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="reference_name[]" class="form-control reference_name">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Position</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="reference_position[]" class="form-control reference_position">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Phone</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="reference_phone_number[]" class="form-control reference_phone_number">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Email</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="email" name="reference_email[]" class="form-control reference_email">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Office Name</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="reference_office_name[]" class="form-control reference_office_name">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Office Address</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <textarea class="form-control reference_office_address[]" name="reference_office_address[]"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">Start Date</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="reference_start_date[]" class="form-control reference_start_date" placeholder="YYYY-MM-DD">
                                                    </div>
                                                </div>

                                                <div class="form-group mb-2">
                                                    <label class="col-lg-12 mb-1">End Date</label>
                                                    <div class="col-lg-12 mt-0">
                                                        <input type="text" name="reference_end_date[]" class="form-control reference_end_date" placeholder="YYYY-MM-DD">
                                                    </div>
                                                </div>

                                            </div>
                                            <hr/>

                                        </div>
                                    </div>

                                    

                                    <div class="btn float-right mt-4">

                                        <a href="#remove_references" class="btn btn-warning remove_references" id="remove_references">Remove</a>
                                        <a href="#add_references" class="btn btn-primary add_references" id="add_references">Add More</a>

                                    </div>

                                    <!-- endReferences -------------------------------->
                                </div>



                                <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                                    <!-- Skillss -------------------------------->
                                    
                                    <div class="alert alert-info alert-has-icon">
                                        <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                                        <div class="alert-body">
                                            <div class="alert-title">Hint</div>
                                            Work Ethic - Teamwork - Time Management
                                        </div>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="col-lg-12 mb-1">List of skills</label>
                                        <div class="col-lg-12 mt-0">
                                            <input type="text" name="skills" data-role="tagsinput"/>
                                            <small id="tagsinputHelp" class="form-text text-muted">e.g. You need to type and hit enter.</small>
                                        </div>
                                    </div>
                                            
                                

                                    <!-- endSkills -------------------------------->
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card mt-4">
                <div class="card-body">

                    <div class="row mb-5">
                        <div class="col-lg-12">
                            <div class='progress mb-3' style="height:auto">
                                <div class="progress-bar bg-warning" id="progressbar" role="progressbar" data-width="0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="display:none;width: 0%;height: 30px;border-radius: 10px;">0%</div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-block submit_btn mt-5">SAVE PARTNER</button>

                    
                </div>
            </div>
        </form>
    </div>
        


{% endblock page_content %}


{% block custom_js %}
<script src="//cdn.tiny.cloud/1/f2rkbc3dctxrbtvg56h17qkspz197y3fd9q28dnwt2frj6gj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'crm/modules/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'crm/js/page/modules-sweetalert.js' %}"></script>
<script src="{% static 'crm/js/datepicker/datepicker.js' %}"></script>
<script>
    tinymce.init({
        selector: "textarea#cover_letter",
        height: 400,
        menubar: false,
        toolbar: "insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify",
        force_br_newlines : true,
        force_p_newlines : false,
    });
</script>

<script>
    /*
        Add education button
        Remove education button
    */
    $(".add_educ").click(function(){
        if($(".educ_div").find(".educ_div_row").length < 3){
            var educ_row = $(".first_educ").clone();
            educ_row.removeClass("first_educ");
            educ_row.find(".school").val("");
            educ_row.find(".degree").val(3);
            educ_row.find(".field").val("");
            educ_row.find(".school_address").val("");
            $(".educ_div").append(educ_row);
        }
        
    });

    $(".remove_educ").click(function(){
        if($(".educ_div").find(".educ_div_row").length > 1){
            $(".educ_div").children().last().remove();
        }
        else{

        }
    });


    /*
        Add licenses button
        Remove licenses button
    */
    $(".add_licenses").click(function(){
        
        if($(".licenses_div").find(".licenses_div_row").length < 3){
            var licenses_row = $(".first_licenses").clone();
            licenses_row.removeClass("first_licenses");
            licenses_row.find(".license_name").val("");
            licenses_row.find(".license_code").val("");
            licenses_row.find(".license_expiration_date").val("");
            licenses_row.find(".license_is_compact").val("");
            licenses_row.find(".license_address").val("");
            $(".licenses_div").append(licenses_row);
        }
    });

    $(".remove_licenses").click(function(){
        if($(".licenses_div").find(".licenses_div_row").length > 1){
            $(".licenses_div").children().last().remove();
        }
        else{
        }
    });


    /*
        Add certifications button
        Remove certifications button
    */
    $(".add_certifications").click(function(){
        
        if($(".certifications_div").find(".certifications_div_row").length < 3){
            var certifications_row = $(".first_certifications").clone();
            certifications_row.removeClass("first_certifications");
            certifications_row.find(".certification_name").val("");
            certifications_row.find(".certification_code").val("");
            certifications_row.find(".certification_expiration_date").val("");
            certifications_row.find(".certification_address").val("");
            $(".certifications_div").append(certifications_row);
        }
    });

    $(".remove_certifications").click(function(){
        if($(".certifications_div").find(".certifications_div_row").length > 1){
            $(".certifications_div").children().last().remove();
        }
        else{

        }
    });


    /*
        Add references button
        Remove references button
    */
    $(".add_references").click(function(){
        
        if($(".references_div").find(".references_div_row").length < 3){
            var references_row = $(".first_references").clone();
            references_row.removeClass("first_references");
            references_row.find(".reference_name").val("");
            references_row.find(".reference_position").val("");
            references_row.find(".reference_phone_number").val("");
            references_row.find(".reference_email").val("");
            references_row.find(".reference_office_name").val("");
            references_row.find(".reference_office_address").val("");
            references_row.find(".reference_start_date").val("");
            references_row.find(".reference_end_date").val("");
            $(".references_div").append(references_row);
        }
    });

    $(".remove_references").click(function(){
        if($(".references_div").find(".references_div_row").length > 1){
            $(".references_div").children().last().remove();
        }
        else{
        }
    });


    /*
        Ajax request
        Sending data to server
    */
    $(".submit_btn").click(function(){

        
        var form = new FormData($("#resumeForm")[0]);
        form.append("cover_letter", tinyMCE.activeEditor.getContent());

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.status == 200){
                console.log(xhr.responseText);
            }
        }
        xhr.open("POST","{% url 'crm:admin_partner_resume_create_view' partner_user.id %}", true);

        $("#progressbar").show();

        xhr.upload.addEventListener("progress", function(ev) {
            if(ev.lengthComputable) {
                var percentage = (ev.loaded/ev.total*100|0);
                $("#progressbar").css({"width":""+percentage+"%"}).text("Uploading .."+percentage+"%");
                setTimeout(function(){
                    $(document).ready(function() {
                        swal('Success', 'You just added the resume!', 'success').then(function() {
                            window.location.href = "{% url 'crm:admin_partner_list_view' %}";
                    })});
                }, 1000);
                
            }
            
        });

        xhr.send(form);
        
    })


</script>
<script src="//bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

{% endblock custom_js %}