{% extends "crm/base.html" %}

{% block custom_css %}
<style>
.circular_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  background-color: blue;
  display:inline-block;
  vertical-align:center;
}
</style>
{% endblock custom_css %}
{% block title %}
    Partner List
{% endblock title %}

{% block page_title %}
    Partner List
{% endblock page_title %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="search-element">
                <div class="card">
                    <div class="card-body">

                        <div class="float-left">

                            <p class=""><span>SORTED BY</span>: 
                                <a href="{% url 'crm:admin_partner_list_view' %}?filter={{ filter }}&orderby=id">Date Entered</a> | 
                                <a href="{% url 'crm:admin_partner_list_view' %}?filter={{ filter }}&orderby=auth_user_id__first_name">Firstname</a> | 
                                <a href="{% url 'crm:admin_partner_list_view' %}?filter={{ filter }}&orderby=auth_user_id__last_name">Lastname</a>
                            </p>
                        </div>
                        <form method="GET">
                            <div class="input-group float-right">
                                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" name="filter" value="{{ filter }}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    {% for partner in partneruser_list %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <article class="article article-style-b">
      
                <div class="article-details">
                    <div class="article-title">
                         <dl class="row">

                            <dt class="col-sm-5">

                                <div class="circular_image">
                                    <img alt="image" src="/media/{{ partner.profile_pic }}" style="width: 100%;">
                                </div>
                               
                            </dt>
                            <dd class="col-sm-7 pt-3">
                                <span class="lead">{{ partner.auth_user_id.first_name }} {{ partner.auth_user_id.last_name }} </span><br>
                                @{{ partner.auth_user_id.username }}
                            </dd>
                        </dl>
                    </div>
                    
                    <dl class="row">

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">{{ partner.auth_user_id.email }}</dd>

                        <dt class="col-sm-3">Birthdate</dt>
                        <dd class="col-sm-9">{{ partner.date_of_birth|date:"M d, Y" }}</dd>

                        <dt class="col-sm-3">Address</dt>
                        <dd class="col-sm-9">
                            
                                {% if partner.address_line_1 %}{{ partner.address_line_1 }}{% endif %}
                                {% if partner.address_line_2 %}, {{ partner.address_line_2 }}{% endif %}
                            <br>
                                {% if partner.address_town %}{{ partner.address_town }}{% endif %}
                                {% if partner.address_region %}, {{ partner.address_region }}{% endif %}
                            <br>
                                {% if partner.address_country %}{{ partner.address_country }}{% endif %}
                                {% if partner.address_zip_code %}, {{ partner.address_zip_code }}{% endif %}
                            
                        </dd>

                    </dl>
                    <div class="article-cta">
                        <label class="custom-switch mt-2 float-left">
                            <input type="checkbox" name="is_added_by_admin" onclick="return false;" class="custom-switch-input" {% if partner.is_added_by_admin %}checked{% endif %}>
                            <span class="custom-switch-indicator"></span>
                            <span class="custom-switch-description">Is added by Admin?</span>
                        </label>
                        <div class="user-item">
                            <div class="user-details">
                                <div class="user-cta float-right">
                                    <a href="{% url 'crm:admin_partner_update_view' partner.auth_user_id.id %}" class="btn btn-primary btn-round">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </article>
        </div>
    {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="partner Pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="{% url 'crm:admin_partner_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                    <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link" href="{% url 'crm:admin_partner_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="{% url 'crm:admin_partner_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}