{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>
    CarePartneRx | {% block title %}{% endblock title %}
  </title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'partners/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'partners/modules/fontawesome/css/all.min.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'partners/modules/jqvmap/dist/jqvmap.min.css' %}">
  <link rel="stylesheet" href="{% static 'partners/modules/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'partners/modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'partners/modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'partners/modules/ionicons/css/ionicons.min.css' %}">


  <!-- Dropzone js -->
  <link rel="stylesheet" href="{% static 'dropzone.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'partners/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'partners/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'custom.css' %}">


  {% block custom_css %}
  {% endblock custom_css %}
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      {% include "partners/navbar.html" %}

      {% include "partners/sidebar.html" with id=form.instance.id %}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>{% block page_title %}{% endblock page_title %}</h1>
            </div>
            {% if messages %}
                {% for message in messages %}
                {% if message.tags == "success" %}
                  <div id="success-alert" class="alert alert-success">
                  {{ message }}
                  </div>
                {% endif %}
                {% if message.tags == "danger" %}
                  <div class="alert alert-danger">
                  {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
            
            {% endif %}
            {% block page_content %}
            
            {% endblock page_content %}
        </section>
      </div>
      {% include "partners/footer.html" %}
    </div>
  </div>

  <!-- General JS Scripts -->
    <script src="{% static 'partners/modules/jquery.min.js' %}" defer></script>
    <script src="{% static 'partners/modules/popper.js' %}" defer></script>
    <script src="{% static 'partners/modules/tooltip.js' %}" defer></script>
    <script src="{% static 'partners/modules/bootstrap/js/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'partners/modules/nicescroll/jquery.nicescroll.min.js' %}" defer></script>
    <script src="{% static 'partners/modules/moment.min.js' %}" defer></script>
    <script src="{% static 'partners/js/stisla.js' %}" defer></script>
    
    <!-- JS Libraies -->
    <script src="{% static 'partners/modules/jquery.sparkline.min.js' %}" defer></script>
    <script src="{% static 'partners/modules/chart.min.js' %}" defer></script>
    <script src="{% static 'partners/modules/owlcarousel2/dist/owl.carousel.min.js' %}" defer></script>
    <script src="{% static 'partners/modules/summernote/summernote-bs4.js' %}" defer></script>
    <script src="{% static 'partners/modules/chocolat/dist/js/jquery.chocolat.min.js' %}" defer></script>

    <!-- Page Specific JS File -->
    {% comment %} <script src="{% static 'partners/js/page/index.js' %}"></script> {% endcomment %}
    
    <!-- Template JS File -->
    <script src="{% static 'partners/js/scripts.js' %}" defer></script> 
    <script src="{% static 'partners/js/custom.js' %}" defer></script>  
    <script src="{% static 'dropzone.js' %}" defer></script>
    <script src="{% static 'partners/js/page/modules-ion-icons.js' %}" defer></script>

  {% block custom_js %}
  {% endblock custom_js %}
</body>
</html>